{% extends 'layouts/login_layout.html' %}

{% block content %}
    <div class="form-header">Вы вошли под email {{ email }}. Введите свой пароль для входа в систему</div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            {{ form.password() }}
            {{ form.password.label }}
            {% for error in form.password.errors %}
                <span class="helper-text red-text">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-button">
            {{ form.submit(class='btn waves-effect waves-light') }}
        </div>
    </form>
{% endblock %}