{% extends 'layouts/login.html' %}

{% block content %}
    <p class="form-header">Вы входите под email {{ email }}. Установите пароль для входа в систему.</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="input-field">
            {{ form.password() }}
            {{ form.password.label }}
            {% for error in form.password.errors %}
                <span class="helper-text red-text">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="input-field">
            {{ form.password_confirmation() }}
            {{ form.password_confirmation.label }}
            {% for error in form.password_confirmation.errors %}
                <span class="helper-text red-text">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-button">
            {{ form.submit(class='btn waves-effect waves-light') }}
        </div>
    </form>
{% endblock %}